<div id="accessibility-bar" role="toolbar" aria-label="Herramientas de accesibilidad">
    <div class="btn-group-vertical" role="group" aria-label="Controles de accesibilidad">
        <button id="increase-text" class="btn btn-ucsc-a11y" title="Aumentar tamaño del texto">
            <i class="fa fa-font" aria-hidden="true"></i>+
        </button>
        <button id="decrease-text" class="btn btn-ucsc-a11y" title="Disminuir tamaño del texto">
            <i class="fa fa-font" aria-hidden="true"></i>-
        </button>
        <button id="toggle-contrast" class="btn btn-ucsc-a11y" title="Alternar alto contraste">
            <i class="fa fa-adjust" aria-hidden="true"></i>
            <span>Contraste</span>
        </button>
        <button id="read-page" class="btn btn-ucsc-a11y" title="Leer página en voz alta">
            <i class="fa fa-volume-up" aria-hidden="true"></i>
            <span>Leer</span>
        </button>
    </div>
</div>