<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top shadow-sm border-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://ucsc.cl/content/uploads/2024/07/logo_facultad_derecho-01.png" alt="Logo UCSC Facultad de Derecho" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-dark" href="/index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="#recursos">Recursos</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="#legislacion">Legislación</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="#testimonios">Testimonios</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="#novedades">Novedades</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="#contacto">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>