<!-- Modal Lenguaje Inclusivo -->
<div class="modal fade" id="lenguajeModal" tabindex="-1" aria-labelledby="lenguajeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="lenguajeModalLabel">Guía de Lenguaje Inclusivo</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="text-center mb-4">Uso Correcto del Lenguaje</h4>
                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Expresiones Incorrectas</th>
                                <th scope="col">Expresiones Correctas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lisiado, Minusválido, Inválido, Discapacitado, Persona con capacidades diferentes</td>
                                <td>Persona en situación de discapacidad, Persona con discapacidad</td>
                            </tr>
                            <tr>
                                <td>Mongólico, Mongolito, Retardado</td>
                                <td>Persona con discapacidad intelectual</td>
                            </tr>
                            <tr>
                                <td>Insano, Loco, Demente, Trastornado, Esquizofrénico</td>
                                <td>Persona con discapacidad psíquica</td>
                            </tr>
                            <tr>
                                <td>Ciego, Invidente, "El" Cieguito, No vidente</td>
                                <td>Persona ciega, Persona con discapacidad visual</td>
                            </tr>
                            <tr>
                                <td>Sordo, Sordito, Sordomudo</td>
                                <td>Persona sorda, Persona con discapacidad auditiva</td>
                            </tr>
                            <tr>
                                <td>Lenguaje de señas</td>
                                <td>Lengua de señas</td>
                            </tr>
                            <tr>
                                <td>Sufre discapacidad, Padece discapacidad, Es víctima de una discapacidad</td>
                                <td>Que vive en situación de discapacidad, Que tiene discapacidad</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-ucsc" id="downloadLenguaje">Descargar Guía</button>
            </div>
        </div>
    </div>
</div>