<!-- Modal Lenguaje Inclusivo -->
<div class="modal fade" id="lenguajeModal" tabindex="-1" aria-labelledby="lenguajeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="lenguajeModalLabel">Guía de Lenguaje Inclusivo</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="text-center mb-4">Uso Correcto del Lenguaje</h4>
                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Expresiones a Evitar (Incorrectas)</th>
                                <th scope="col">Expresiones Sugeridas (Correctas)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lisiado, Minusválido, Inválido, Cojo, Tullido, Paralítico, Mutilado. </td>
                                <td>Persona con discapacidad física.  / Persona en situación de discapacidad de origen físico. </td>
                            </tr>
                            <tr>
                                <td>Mongólico, Mongolito, Retardado, Retrasado mental. </td>
                                <td>Persona con discapacidad intelectual.  / Persona en situación de discapacidad de origen intelectual. </td>
                            </tr>
                            <tr>
                                <td>Insano, Loco, Demente, Trastornado, Esquizofrénico, Bipolar, Depresivo. </td>
                                <td>Persona con discapacidad psíquica/psiquiátrica.  / Persona en situación de discapacidad de causa psíquica. </td>
                            </tr>
                            <tr>
                                <td>"El" Ciego, "El" Cieguito, Invidente, No vidente, Corto de vista. </td>
                                <td>Persona ciega.  / Persona con discapacidad visual.  / Persona con baja visión. </td>
                            </tr>
                            <tr>
                                <td>Sordo, Sordito, Sordomudo. </td>
                                <td>Persona sorda.  / Persona con discapacidad auditiva. </td>
                            </tr>
                            <tr>
                                <td>Lenguaje de señas. </td>
                                <td>Lengua de señas. </td>
                            </tr>
                            <tr>
                                <td>Sufre/padece discapacidad, Es víctima de, Está afectado por. </td>
                                <td>Vive en/se encuentra en situación de discapacidad. </td>
                            </tr>
                            <tr>
                                <td>Postrado, Confinado/relegado a una silla de ruedas. </td>
                                <td>Persona usuaria de silla de ruedas.  / Persona que se traslada en silla de ruedas. </td>
                            </tr>
                            <tr>
                                <td>Discapacitado, Deficiente, Anormal, Persona con capacidades diferentes. </td>
                                <td>Persona con discapacidad.  / Persona en situación de discapacidad. </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-ucsc" id="downloadLenguaje">Descargar Guía</button>
            </div>
        </div>
    </div>
</div>